{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            AI Blog Generator
        {% endblock %}
    </title>

    <!-- Google Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

    <!-- Tailwind -->

    <script src="https://cdn.tailwindcss.com"></script>

    <script>

        tailwind.config = {

            darkMode: "class",

            theme: {

                extend: {

                    fontFamily: {

                        sans: ["Inter"]

                    },

                    colors: {

                        primary: "#2563EB",

                        secondary: "#0F172A",

                        accent: "#6366F1",

                        success: "#10B981",

                        danger: "#EF4444",

                        warning: "#F59E0B"

                    }

                }

            }

        }

    </script>

    <!-- Lucide -->

    <script src="https://unpkg.com/lucide@latest"></script>

    {% block extra_css %}

    {% endblock %}

</head>

<body
class="bg-slate-100 dark:bg-slate-950 text-slate-800 dark:text-white min-h-screen">
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

<script>
window.SUPABASE_URL = "{{ SUPABASE_URL }}";
window.SUPABASE_ANON_KEY = "{{ SUPABASE_ANON_KEY }}";
window.LOGIN_URL = "{% url 'login' %}";
window.DASHBOARD_URL = "{% url 'blogs:dashboard' %}";
</script>

<script src="{% static 'js/supabase.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>

<div class="flex h-screen overflow-hidden">

    {% include "components/sidebar.html" %}

    <div class="flex flex-col flex-1 overflow-hidden">

        {% include "components/navbar.html" %}

        <main
        class="flex-1 overflow-y-auto p-8">

            {% include "components/messages.html" %}

            {% block content %}

            {% endblock %}

        </main>

        {% include "components/footer.html" %}

    </div>

</div>


<script>

logoutButton.addEventListener("click", async () => {

    try {

        await Auth.logout();

    }

    catch (error) {

        console.error(error);

        alert(error.message);

    }

});
</script>
<script>

lucide.createIcons();

</script>
{% block extra_js %}

{% endblock %}

</body>

</html>