{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>

<input type="email" id="email" placeholder="Email">

<br><br>

<input type="password" id="password" placeholder="Password">

<br><br>

<button id="loginBtn">Login</button>

<br><br>

<button id="googleBtn">Continue with Google</button>

<br><br>

<button id="githubBtn">Continue with GitHub</button>

<br><br>

<a href="/signup/">Create Account</a>

<script>
window.SUPABASE_URL="{{ SUPABASE_URL|escapejs }}";
window.SUPABASE_ANON_KEY="{{ SUPABASE_ANON_KEY|escapejs }}";
</script>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

<script src="{% static 'js/config.js' %}"></script>

<script src="{% static 'js/auth.js' %}"></script>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}